.top-buffer{
	margin-top:20px;
}
.emojiheader{
	font-size: 50px;
	display: block;
	margin: 0 auto;
}
.titleheader{
	font-size: 50px;
}

 #0d1315
 #205D50
 #52674B
 #A22415
 #C82C12
 #B4542B
 #788F61
 #9fccca
 #6f8e8d
 #205D50
 #52674B
 #A22415
 #C82C12
 #B4542B
 #788F61
 #9fccca
