<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BrainPanel</title
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <!--
	<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
	-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

	<style>
	@media (min-width: 768px) {
		.modal-xl {
			width: 60%;
 			max-width:1200px;
		}
	}
	</style>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto navbar-nav nav" id="myTab" role="tablist">
				<li class="nav-item">
		 	  	<a class="nav-link active" id="RealTime" data-toggle="tab" href="#realtime" role="tab" aria-controls="home" aria-selected="true">Home</a>
				</li>
		 	  <li class="nav-item">
		 	     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#recorded" role="tab" aria-controls="profile" aria-selected="false">More Information</a>
		 	  </li>
		 	  <li class="nav-item">
		 	     <a class="nav-link" id="contact-tab" data-toggle="tab" href="#about" role="tab" aria-controls="contact" aria-selected="false">About</a>
		 	  </li>
			</ul>
		</div>
		<div class="mx-auto order-0">
			<a class="navbar-brand mx-auto" href="#">🧠 Brain Panel</a>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<form action="/data" method=post class="form-inline" enctype=multipart/form-data>
      		<p><input class="btn btn-outline-success" type=file name=data_file>
					<input class="btn btn-outline-success" type=submit value=Upload>
    		</form>
				<!--
				<form class="form-inline method=post enctype=multipart/form-data">
					<p><input class="btn btn-outline-success" type=file name=file>
			 		<input class="btn btn-outline-success" type=submit value=Upload>
  			</form>-->
			</ul>
		</div>
	</nav>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="realtime" role="tabpanel" aria-labelledby="RealTime-Tab">
		<!-- THE FIRST TAB -->
		<div class="container">
			<div class="row">
				<!-- LEFT SIDE -->
				<div class="col-7">
        	<div id="graph-0"></div>
				</div>
				<!-- RIGHT SIDE -->
				<div class="col-5">
					<!--- TOP RIGHT-->
					<br>
					<div class="row">
						<div class="card" style="width: 30rem;">
  						<div class="card-body">
    						<h5 class="card-title">Quick Statistics</h5>
    						<p class="card-text">
									Times Blinked:    {{ total_blinks }}<br>
									Sylablles Said:   {{ total_syl}}<br>
									Battery Expended: {{ total_batt }} %<br>
								</p>
  						</div>
						</div>
					</div>
					<!-- BOTTOM RIGHT -->
					<br>
					<div class="row">
						<div class="card" style="width: 30rem;">
  						<div class="card-body">
    						<h5 class="card-title">Information</h5>
    						<p class="card-text">
									{% for item in alertMatrix %}
										<div class="alert alert-{{item[0]}}" role="alert">
  										<b>{{item[1]}}</b> {{item[2]}}
										</div>
									{% endfor %}
									<!--
									<div class="alert alert-success" role="alert">
  									<b>Your Delta Waves are high:</b> This correlates to relaxation
									</div>
									<div class="alert alert-success" role="alert">
  									<b>Your Gamma Waves are low:</b> This usually means you're not doing much
									</div>
									<div class="alert alert-danger" role="alert">
  									<b>You Moved Around a Lot:</b> If you move your head too much, it can lead to innaccurate readings
									</div>
								-->
								</p>
  						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="tab-pane fade" id="recorded" role="tabpanel" aria-labelledby="Recorded-Tab">
    <div class="container">
			<div class="row">
				<div class="column">
					<!-- LEFT SIDE -->
					<br>
					<div class="card" style="width: 18rem;">
  					<div class="card-header">
    					Wave Averages
  				</div>
  				<ul class="list-group list-group-flush">
    				<li class="list-group-item">Alpha: {{ alphaAvg }}db <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#alphaModal" style="float: right">More</button></li>
						<li class="list-group-item">Beta: {{ betaAvg }}db<button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#betaModal" style="float: right">More</button></li>
						<li class="list-group-item">Delta: {{ deltaAvg }}db<button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#deltaModal" style="float: right">More</button></li>
						<li class="list-group-item">Theta: {{thetaAvg }}db<button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#thetaModal" style="float: right">More</button></li>
						<li class="list-group-item">Gamma: {{gammaAvg }}db<button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#gammaModal" style="float: right">More</button></li>
  				</ul>
				</div>
				<br>
				<div class="card" style="width: 18rem;">
					<div class="card-header">
						Accelerometer Avg.
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">X: {{ xAvg }} </li>
					<li class="list-group-item">Y: {{ yAvg }}</li>
					<li class="list-group-item">Z: {{ zAvg }}</li>
				</ul>
				</div>
				</div>
				<div class="column">
					<div id="graph-1"></div>
				</div>
			</div>
  	</div>
	</div>
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="About-Tab">
    <div class="container">
			<div class="row">
				<div class="col">
					<br><br><br><br><br><br>
					<font size="128">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp🧠</font><br><b>
						<font size="36">BrainPanel</font></b><br>
					</div>
					<div class="col">
						<br>
						<div class="card" style="width: 35rem;">
							<div class="card-body">
								<h5 class="card-title">About</h5>
								<p class="card-text">
									Brain Panel is a deployable web-based panel that can read information from a muse brainwave sensor.<br><br>
									BrainPanel is held under the MIT License and is Open Source in every fashion<br>
									<br><br><br>
									Written By Clay Buxton (<a href="clbx.io">clbx.io</a>) - 2018
								</p>
							</div>
						</div>
						<br><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  						Technical Specifications
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-xl" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Technical Specifications</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        BrainPanel runs off Python 3.6.x
										<div class="container">
											<div class="row">
												<div class="col">
													Dependancies:
													<ul>
														<li>Python 3.6.x</li>
														<li>Flask 0.12.2+</li>
														<li>plotly 2.5.1+</li>
														<li>pandas 0.22.0+</li>
														<li>numpy 1.14.2+</li>

														<br><br><br>
														<a href="https://github.com/clbx/BrainPanel">Github Repository</a>
												</div>
												<div class="col">
													<b>To run BrainPanel</b>
													To run brain panel a python virtual enviroment is <i>required</i><br>
													After cloning the Repository, start the virtualenv by running <code>source bin/activate</code><br>
													Flask will now be running on 127.0.0.1:5000<br><br>
													<b>To deploy BrainPanel</b><br>
													gunicorn is used to deploy BrainPanel. Set nginx root to proxy from 127.0.0.1:3000 and static to flasks static folder.<br>
													After configuring nginx, run <br><code>gunicord -w 4 -b 127.0.0.1:3000 getdata:app</code>
												</div>
											</div>
										</div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
			</div>
		</div>
  </div>
</div>

<!-- MODALS FOR INFO -->
<div class="modal fade" id="alphaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alpha Waves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="graph-2"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="betaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Beta Waves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="graph-3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deltaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delta Waves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="graph-4"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gammaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gamma Waves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="graph-5"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thetaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Theta Waves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="graph-6"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>

<footer>
	<script type="text/javascript">
		var graphs = {{graphJSON | safe}};
		var ids = {{ids | safe}};
		for(var i in graphs) {
			Plotly.plot(ids[i], // the ID of the div, created above
				graphs[i].data,
				graphs[i].layout || {});
		}
		console.log(ids);
		console.log(graphs);
	</script>
</footer>
</html>
