<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BrainPanel</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>

</head>
<body>


  <!-- Tab links -->
  <b>DUMMY MODE</b>
 <div class="tab">
   <button class="tablinks" onclick="openTab(event, 'RealTime')">Real-Time</button>
   <button class="tablinks" onclick="openTab(event, 'LoadFile')">Load-File</button>
   <button class="tablinks" onclick="openTab(event, 'About')">About</button>
 </div>

 <!-- Tab content -->
 <div id="RealTime" class="tabcontent">
   <br>
   <div class="row">
    <div class="column">
      <embed type="image/svg+xml" src={{chart1|safe}} style='max-width:700px'/>
    </div>
    <div class="column">
      <div class="row box">
        <h4>Statistics</h4>
        <b>Times Blinked:</b> {{ blinked }}<br>
        <b>Sylablles Said</b> {{ said }}<br>
        <b>Connection Time</b> {{ time }}<br>
      </div>
      <div class="row box">
        <h4>Connection Information</h4>
        Device Connected: Muse Brainwave Headset<br>
        Sensors Working: <br>
        <span style="color: red">█</span>✔ <span style="color: blue">█</span>✔ <span style="color: green">█</span>✔ <span style="color: white">█</span>✖ <span style="color: orange">█</span>✖ <span style="color: purple">█</span>✔
        <br><br>
        Battery Percentage: 94%<br>
        Connected Via: Bluetooth<br>
      </div>
      <div class="row box">
        <br>
        <button type="button" class="button-panel">Start Recording</button>  <button type="button" class="button-panel">Stop Recording</button><br><br>
        <button type="button" class="button-panel">Save Results</button><br>
      </div>
    </div>
 </div>
</div>

 <div id="LoadFile" class="tabcontent">
   <br>
   <div class="row">
    <div class="column">
      <embed type="image/svg+xml" src={{chart|safe}} style='max-width:700px'/>
    </div>
    <div class="column">
      <div class="row box">
        <h4>Statistics</h4>
        <b>Times Blinked:</b> {{ blinked }}<br>
        <b>Sylablles Said</b> {{ said }}<br>
        <b>Recorded Time</b> 5:34<br>
      </div>
      <div class="row box">
        <b>Your Beta waves spiked</b> That usually correlates to stress<br>
        <b>Your Alpha waves went up</b> That usually means your heart rate increased<br>
      </div>
      <div class="row box">
        <button type="button" class="button-panel">Load File</button>
      </div>
    </div>
 </div>

 </div>

 <div id="About" class="tabcontent">
   <h3>About</h3>
   <p>Brain Panel: v0.1</p>
   This is a beta version of a panel to display Muse Brain wave information a realtime and post-record way<br><br>
   <b>Real Time Goals:</b>
   <ul>
     <li>Have a graph with real-time information from the muse brain sensor.</li>
     <li>Receive real-time statistics from the muse.</li>
     <li>Receive information on the device itself</li>
   </ul>
   <br>
   <b>Post-Record Goals:</b>
   <ul>
     <li>Display out helpful information about the session</li>
     <li>Display Statistics about session</li>
     <li>Display a graph with the information from the session</li>
   </ul>
   <br>
 </div>

</body>
</html>
